// MAPS
$breakpoints: (
    'sm': 576px,
    'md': 768px,
    'lg': 992px,
    'xl': 1200px
);

// MIXIN
@mixin default-link() {
    a{
        color: $blue;
        text-decoration: none;

        &:hover{
            color: $green;
            text-decoration: underline;
        }
    }
}

@mixin bg-color($color) {
    background-color: $color;
}

@mixin border-radius($r: 8px) {
    border-radius: $r;
}

@mixin padding($padding...) {
    padding: $padding;
}

@mixin spacing($type, $values...) {
    #{$type}: $values;
}

@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media only screen and(min-width: map-get($breakpoints, $breakpoint)){
            @content;
        }
    }
    @else {
        @warn "Traženi ključ ne postoji u mapi. Dostupni ključevi su: #{map-keys($breakpoints)}"
    }
}

// VARIABLES
$gray: #eee;
$blue: rgb(53, 53, 149);
$green: rgb(20, 122, 45);
$white: white;
$black: black;

$size: 16px;

*{
    box-sizing: border-box;
}

body{
    @include bg-color($gray);
    color: $blue;
    margin: 0;
}

@include default-link();

// BUTTONS
.btn{
    display: inline-block;
    @include padding(8px 16px);
    text-decoration: none;
    color: $white;
    border-style: solid;
    border-width: 1px;

    &:hover{
        box-shadow: 0 0 5px lighten($black, 50%);
    }
}

.btn-primary{
    @extend .btn;
    background-color: $blue;
    border-color: darken($blue, 10%);
    @include border-radius(4px);

    &:hover{
        background-color: darken($blue, 10%);
    }
}

.btn-primary-lg{
    @extend .btn-primary;
    font-size: $size + 4;
    padding: 12px 24px;
    @include border-radius();
}

.btn-success{
    @extend .btn;
    background-color: $green;
    border-color: darken($green, 10%);
    @include border-radius(4px);

    &:hover{
        background-color: darken($green, 10%);
    }
}

// GRID WITH LOOPS
.container{
    width: 100%;
    max-width: 1200px;
    @include spacing(margin, 20px auto);
    @include spacing(padding, 0 15px);
}

.row{
    display: flex;
    flex-wrap: wrap;
    @include spacing(margin, 0 -15px);
}

.col{
    position: relative;
    width: 100%;
    @include spacing(padding, 0 15px);
}

@for $i from 1 through 12 {
    $width: percentage($i / 12);
    .col-#{$i}{
        @extend .col;
        flex: 0 0 $width;
        max-width: $width;
    }
    .col-sm-#{$i}{
        @extend .col;
    }
    .col-md-#{$i}{
        @extend .col;
    }
    .col-lg-#{$i}{
        @extend .col;
    }
    .col-xl-#{$i}{
        @extend .col;
    }
}

@include respond-to('sm') {
    @for $i from 1 through 12 {
        $width: percentage($i / 12);
        .col-sm-#{$i}{
            flex: 0 0 $width;
            max-width: $width;
        }
    }
}

@include respond-to('md') {
    @for $i from 1 through 12 {
        $width: percentage($i / 12);
        .col-md-#{$i}{
            flex: 0 0 $width;
            max-width: $width;
        }
    }
}

@include respond-to('lg') {
    @for $i from 1 through 12 {
        $width: percentage($i / 12);
        .col-lg-#{$i}{
            flex: 0 0 $width;
            max-width: $width;
        }
    }
}

@include respond-to('xl') {
    @for $i from 1 through 12 {
        $width: percentage($i / 12);
        .col-xl-#{$i}{
            flex: 0 0 $width;
            max-width: $width;
        }
    }
}

