body {
    margin: 0;
}

div {
    width: 200px;
    height: 200px;
}

.static-box1 {
    background: cadetblue;
}

.static-box2 {
    background: orange;
    position: static;
}

.relative-box1 {
    background: orangered;
}

.relative-box2 {
    background: orchid;
    position: relative;
    left: 200px;
    top: -200px;
}

.absolute-box1 {
    background: orchid;
    position: relative;
    z-index: 2;
}

.absolute-box2 {
    background: orangered;
    position: absolute;
    left: 100px;
    top: 100px;
}

.fixed-box1 {
    background: orangered;
    position: relative;
    top: 200px;
}

.fixed-box2 {
    background: black;
    position: fixed;

}

.sticky-box1 {
    background: orangered;
    height: 600px;
}

.sticky-box2 {
    background: black;
    position: sticky;
    top: 0;
    
}