* {
    margin: 0;
    box-sizing: border-box;
}

body {
    color: 333;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    padding: 1rem;
}

.wrapper div {
    background-color: #eee;
    border: 1px solid #666;
    padding: 1rem;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-item {
    width: 48%;
    height: 100px;
    margin-bottom: 20px;
}

.flex-item:nth-child(3n) {
    flex-basis: 100%;
}