* {
    margin: 0;
    box-sizing: border-box;
}

body {
    color: 333;
    font-family: Tahoma, sans-serif;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100vh;
}

.flex-container > *,
section {
    padding: 10px;
}

header,
footer {
    background-color: #999;
    height: 10vh;
    flex: 0 100%;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex: 0 100%;
    justify-content: space-between;
    height: 80vh;
}

section {
    flex: 0 100%;
}

section > div {
    background-color: #eee;
}

/* TABLET */
@media only screen and (min-width: 600px) {
    section {
        flex: 0 50%;
    }
    section > div {
        background-color: red;
    }
}

/* DESKTOP */
@media only screen and (min-width: 1000px) {
    section {
        flex: 0 25%;
    }
}