body {
    background-color: #dddddd;
    background-image: url("../../../images/pattern.png");
    font-size: 20px;
}

p:first-of-type {
    background-color: #ffffcc;
    background-image: url("../../../images/light-bulb.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

p:nth-of-type(3) {
    background: url("../../../images/orange.png") right top/150px no-repeat,
                url("../../../images/butterfly.png") left center/contain no-repeat,
                url("../../../images/coffee-cup.png") center center/contain no-repeat,
                #ffffff url("../../../images/pattern.png");
}