body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body p {
    color: #666666;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

#intro {
    font-size: 16px;
    color: green;
}