$gray: #eee;
$blue: rgb(53, 53, 149);
$white: white;
$black: black;

$size: 16px;

body {
    background: $gray;
    color: $blue;
}

h1 {
    color: lighten($blue, 9%);
    font-size: $size * 3;

    &:hover {
        color: darken($blue, 9%);
    }
}