body {
    width: 50%;
    background-color: #cccccc;
}

div {
    background-color: #f93;
    margin: 5px;
}

.width1 {
    width: 50%;
}

.width2 {
    width: 25vw;
}

.width3 {
    width: 500px;
}

.width4 {
    width: 50em;
}

.height1 {
    height: 50%;
}

.height2 {
    height: 25vw;
}

.height3 {
    height: 150px;
}

.height4 {
    height: 5em;
}

.border1 {
    border: 2px solid #333333;
}

.border2 {
    border-top: 5px solid rgb(266, 24, 24);
    border-right: 10px dotted blue;
    border-bottom: 7px dashed green;
    border-left: 5px double yellow;
}

.padding1 {
    box-sizing: border-box;
    padding: 20px;
}

.padding2 {
    box-sizing: border-box;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 200px;
}

.margin1 {
    margin: 20px;
}

.margin2 {
    margin: 20px auto;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}