* {
    box-sizing: border-box;
}

body {
    color: 333;
    font-family: Tahoma, sans-serif;
}

h1 {
    text-align: center;
}

div {
    background-color: #9cf;
    border: 1px solid #333;
    width: 300px;
    padding: 2rem;
    margin: 4rem auto;
    text-align: center;
    position: relative;
}

@keyframes animacija1 {
    0% {
        left: 0;
    }

    100% {
        left: 800px;
        background-color: yellow;
    }
}

div:first-of-type {
    animation: animacija1 2s linear;
}

@keyframes animacija2 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

div:nth-of-type(2) {
    animation: animacija2 2s ease-in-out;
}

@keyframes animacija3 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

div:nth-of-type(3) {
    animation: animacija3 2s ease-in-out 1s;
}

@keyframes animacija4 {
    0% {
        left: 0;
    }

    50% {
        left: 80%;
    }

    100% {
        left: 0;
    }
}

div:nth-of-type(4) {
    animation: animacija4 2s ease-in-out 1s 3;
}

@keyframes animacija5 {
    0% {
        left: 0;
    }

    100% {
        left: 80%;
    }
}

div:nth-of-type(5) {
    animation: animacija5 2s ease-in-out 1s 3 alternate;
}

@keyframes animacija6 {
    0% {
        left: 0;
    }

    100% {
        left: 80%;
    }
}

div:nth-of-type(6) {
    animation: animacija6 20s ease-in-out 3 alternate;
}

div:nth-of-type(6):hover {
    animation-play-state: paused;
}