* {
    box-sizing: border-box;
}

body {
    color: 333;
    font-family: Tahoma, sans-serif;
}

h1 {
    text-align: center;
}

div {
    background-color: #f93;
    border: 1px solid #333;
    width: 300px;
    padding: 4rem;
    margin: 4rem auto;
    text-align: center;
}

.translate {
    transform: translate(150px, -20px);
}

.rotate {
    transform: rotate(30deg);
}

.scale {
    transform: scale(0.5, 0.3);
}

.skew {
    transform: skew(20deg, 15deg);
}

.multiple {
    transform: rotate(30deg) scale(0.5, 0.3) skew(20deg, 15deg);
}