* {
    margin: 0;
    box-sizing: border-box;
}

body {
    color: 333;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    border: 5px dashed #666;
    padding: 1rem;
    margin-bottom: 1rem;
}

.wrapper div {
    background-color: #eee;
    border: 1px solid #666;
    padding: 1rem;
    text-align: center;
    width: 150px;
    margin: 1rem;
}

.flex-container-1 {
    display: flex;
}

.flex-container-2 {
    display: flex;
    flex-wrap: wrap;
}

.flex-container-3 {
    display: flex;
    flex-flow: row wrap-reverse;
}

.flex-container-4 {
    display: flex;
    flex-direction: column;
}

.flex-container-5 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.flex-container-6 {
    display: flex;
    height: 600px;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.flex-container-7 {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    align-content: space-around;
}

.flex-container-8 {
    display: flex;
}

.flex-container-8 .flex-item:nth-child(3) {
    order: -1;
}

.flex-container-9 {
    display: flex;
}

.flex-container-9 .flex-item {
    flex-grow: 1;
}

.flex-container-9 .flex-item:nth-child(1) {
    flex-grow: 2;
}

.flex-container-9 .flex-item:nth-child(2) {
    flex-shrink: 2;
}

.flex-container-10 {
    display: flex;
    height: 600px;
    align-items: flex-start;
}

.flex-container-10 .flex-item {
    width: initial;
    flex-grow: 1;
}

.flex-container-10 .flex-item:nth-child(3) {
    align-self: flex-end;
}