* {
    box-sizing: border-box;
}

body {
    color: 333;
    font-family: Tahoma, sans-serif;
}

h1 {
    text-align: center;
}

div {
    background-color: #9cf;
    border: 1px solid #333;
    width: 300px;
    padding: 2rem;
    margin: 4rem auto;
    text-align: center;
}

div:first-of-type {
    transition: width 0.3s;
}

div:first-of-type:hover {
    width: 400px;
}

div:nth-of-type(2) {
    transition: background-color 0.5s;
}

div:nth-of-type(2):hover {
    background: #ff0;
}

div:nth-of-type(3) {
    transition: transform 1.5s;
}

div:nth-of-type(3):hover {
    transform: translateX(500px);
}

div:nth-of-type(4) {
    transition: transform .5s;
}

div:nth-of-type(4):hover {
    transform: rotate(180deg);
}

div:nth-of-type(5) {
    transition: background-color 1s ease-in, transform 0.5s ease-out;
}

div:nth-of-type(5):hover {
    background: red;
    transform: scale(1.2, 2) skew(10deg, 5deg);
}

div:nth-of-type(6) {
    transition: opacity 1s ease-in-out 2s;
}

div:nth-of-type(6):hover {
    opacity: .2;
}